{% extends 'expenses/layout.html' %}

{% block content %}

<h2>Signup Form</h2>

<form action="" method="POST" style="border:1px solid #ccc">
  {% csrf_token %}
  <div class="form-group">
    <label><b>User Name</b></label>
    <input type="text" placeholder="Enter User Name" name="username" required>
  </div>

  <div class="form-group">
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
  </div>

  <div class="form-group">
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
  </div>

  <div class="form-group">
    <label><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="password" required>
  </div>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

{% endblock %}