{% extends 'layout.html' %}

{% block body %}
	<div class="container">
       <table class="table table-bordered">
         <thead>
           <tr>
             <th>Date</th>
             <th>Item</th>
             <th>Payer</th>
             <th>Amount</th>
             <th>Status</th>
             <th>Comment</th>
           </tr>
         </thead>
         <tbody>
         	{% for item in data %}
           <tr>
             <td>{{item.entry_date}}</td>
             <td>{{item.item}}</td>
             <td>{{item.payer}}</td>
             <td>${{item.amount}}</td>
             <td>{{item.status}}</td>
             <td>{{item.comment}}</td>
           </tr>
           {% endfor %}
         </tbody>
       </table>
    </div>



{% endblock %}